output
env
__pycache__
interm
raw
archive

!papercode/
papercode/*
!papercode/MixupExplainer/
papercode/MixupExplainer/*
!papercode/MixupExplainer/MixupExplainer/
papercode/MixupExplainer/MixupExplainer/*
!papercode/MixupExplainer/MixupExplainer/ExplanationEvaluation/